#about {
  /* Some CSS will go here soon! */
  /* This is a comment, by the way. */
}

#about {
  .biography-title {
    color: red;
  }
}

@keyframes slide-from-right {
  0% {
    transform: translateX(150%);
  }
  100% {
    transform: translateX(0%);
  }
}

.biography-title {
  animation: slide-from-right 1s forwards;
}
